body{  font-family: 'Lato', sans-serif;  font-size: 14px; line-height: 1.42857143; color: #333; background-color: transparent; padding: 0; margin: 0;}


/* Popup Elements */
.popup{ width: 500px; height: 500px; overflow: hidden; border-radius: 50%; position: relative; margin: 0 auto; text-align: center; background-color: #e8795b; border: solid 4px #FFF; -webkit-box-shadow: 0 0 0 8px #e8795b; box-shadow: 0 0 0 8px #e8795b; position: fixed; left: 0; right: 0; top: 50%; margin: 0 auto; margin-top: -250px;}
.popup .popupWrap{ width: auto; height: auto; padding: 13% 10%; border-radius: 50%;}
.popup .ele{ position: relative; padding: 8px; margin: 0 auto; z-index: 2;}
/* badge */
.popup .badge{  background: transparent; border-radius: 0; line-height: normal;}
.popup .badge .badgeWrap{ color: #222; opacity: 1;}
.popup .badge .badgeWrap i{  font-size: 28px; display: inline-block; vertical-align: top; padding-top: 21px;}
.popup .badge .badgeWrap i:first-child{}
.popup .badge .badgeWrap i:nth-child(2){ font-size: 42px; margin: 0 24px; padding: 0;}
.popup .badge .badgeWrap i:last-child{}
/* heading */
.popup .heading{ }
.popup .heading h1{  padding: 0; margin: 0; color: #FFF; font-size: 28px; font-weight: bold; line-height: normal;}
/* form */
.popup .form{  }
.popup .form form{ padding: 0 10px; }
.popup .form .form-control{  display: block; width: 100%; background-color: #FFF; height: 48px; font-size: 22px; text-align: left; padding: 0; border-radius: 15px; margin-bottom: 26px; border: none; text-indent: 10px;}
.popup .form .form-control:focus{ outline: none; }
.popup .form .form-control.rtl{ direction: rtl; text-align: right; }
.popup .form .btn{ width: 100%;height: 63px;background-color: #222;color: #FFF;outline: none;line-height: 63px;border-radius: 15px;font-size: 34px;font-weight: bold;border: none;display: block;}
.popup .form .btn:focus{ outline: none; } 
/* subheading */   
.popup .subheading{  }
.popup .subheading p{ margin: 0; font-size: 15px; color: #FFF; }



/* Media Queries */
@media screen and (max-width: 550px) {
    .popup{
        transform: translateX(-50%) scale(0.7, 0.7);
        -webkit-transform: translateX(-50%) scale(0.7, 0.7);
        -moz-transform: translateX(-50%) scale(0.7, 0.7);
        -o-transform: translateX(-50%) scale(0.7, 0.7);
        left: 50%;

    }
}