<template>
    <div class="popup" v-if="options.popup" v-bind:style="{ 'background-color': options.popup.background, 'border-color': options.popup.border, 'box-shadow': '0 0 0 8px ' + options.popup.background }">
        <div class="popupWrap">
            <div class="ele badge" v-bind:style="{ 'transform': options.badge.transform,left:0,right:0 }">
                <div class="badgeWrap" v-bind:style="{ 'color': options.badge.color, 'opacity': options.badge.opacity }">
                    <i class="icon-star-full"></i>
                    <i class="icon-star-full"></i>
                    <i class="icon-star-full"></i>
                </div>
            </div>
            <!-- / BADGE -->
            <div class="ele heading" v-bind:style="{ 'transform': options.heading.transform,left:0,right:0 }">
                <h1 v-bind:style="{ color: options.heading.color }">{{options.heading.text}}</h1>
            </div>
            <!-- / HEADING -->
            <div class="ele form" v-bind:style="{ 'transform': options.form.transform,left:0,right:0 }">
                <form role="form">
                    <input class="form-control" type="text" name="input" v-bind:placeholder="options.form.input.text" v-bind:style="{ 'background-color': options.form.input.background}" v-bind:class="{ 'rtl' : options.form.input.dir == 'RTL'  }" />
                    <button class="btn" v-bind:style="{ 'background-color': options.form.button.background, 'color': options.form.button.color}">{{options.form.button.text}}</button>
                </form>
            </div>
            <!-- / FORM -->
            <div class="ele subheading" v-bind:style="{ 'transform': options.subheading.transform,left:0,right:0 }">
                <p v-bind:style="{ 'color': options.subheading.color}">{{options.subheading.text}}</p>
            </div>
            <!-- / SUBHEADING -->
        </div>
        <!-- / .popupWrap -->
    </div>
    <!-- / POPUP -->
</template>

<script>
import ApiService from '@/services/api.service';
export default {
    name: 'popup',
    data () {
        return {
            options: {}
        }
    },
    methods : {
        getSettings:function(){
            ApiService.getSettings().then(response =>{
                console.log("data",response);
                this.options = response.data;
            });
        }
    },
    mounted(){
        //popup Delay 2s
        setTimeout(() => this.getSettings() , 2000);
    }
}
</script>
